@mixin transition($property, $time, $effect: ease-in-out) {
  /* Safari */
  -webkit-transition: $property $time;
  -webkit-transition-timing-function: $effect;

  transition: $property $time;
  transition-timing-function: $effect;
}

.poll {

  li {
    position: relative;
    height: 40px;
    width: 100%;
    label, div {
      position: absolute;
      height: 100%;
    }
    label {
      z-index: 1;
      line-height: 40px;
      text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
      &.title {
        left: 2%;
      }
      &.value {
        right: 2%;
      }
    }
    .bar {
      @include transition(all, .2s, ease-in-out);
      z-index: 0;
      background: #00cbff;
      cursor: pointer;
      &:hover {
        opacity: .8;
      }
    }

    &:nth-child(1) .bar {
      background: #dc0d2b;
    }
    &:nth-child(2) .bar {
      background: #0094ea;
    }
    &:nth-child(3) .bar {
      background: #ffd401;
    }
    &:nth-child(4) .bar {
      background: #a0cc9e;
    }
  }

  .total {
    width: 100%;
    text-align: right;
    padding-right: 2%;
    font-weight: 500;
  }
}
