.poll {

  li {
    position: relative;
    height: 40px;
    width: 100%;
    label, div {
      position: absolute;
      height: 100%;
    }
    label {
      z-index: 1;
      line-height: 40px;
      &.title {
        left: 2%;
      }
      &.value {
        right: 2%;
      }
    }
    .bar {
      @include transition(all, .2s, ease-in-out);
      z-index: 0;
      background: #00cbff;
      cursor: pointer;
      &:hover {
        opacity: .8;
      }
    }

    &:nth-child(1) .bar {
      background: #a4b3e0;
    }
    &:nth-child(2) .bar {
      background: #ff7d5c;
    }
    &:nth-child(3) .bar {
      background: #7bdb92;
    }
    &:nth-child(4) .bar {
      background: #ffd841;
    }
  }

  .total {
    width: 100%;
    text-align: right;
    padding-right: 2%;
    font-weight: 500;
  }
}
