@mixin transition($property, $time, $effect: ease-in-out) {
  /* Safari */
  -webkit-transition: $property $time;
  -webkit-transition-timing-function: $effect;

  transition: $property $time;
  transition-timing-function: $effect;
}

body {
  font-size: 16px;

  .active {
    color: blue;
  }
}
