@mixin transition($property, $time, $effect: ease-in-out) {
  /* Safari */
  -webkit-transition: $property $time;
  -webkit-transition-timing-function: $effect;

  transition: $property $time;
  transition-timing-function: $effect;
}

html {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;

  font-size: 16px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f5f8+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #f3f5f8 0%,#eef2f3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f3f5f8 0%,#eef2f3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f3f5f8 0%,#eef2f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  h1, h2, h3 {
    font-weight: 700;
  }

  h2 {
    margin-top: 10px;
  }

  label {
    font-weight: 300;
  }

  a {
    color: #6665ff;
  }

  input.form-control {
    border: 0 none;
    box-shadow: none;
    border-bottom: 1px solid #b2b2b3;
    border-radius: 0;
    padding: 0;
    &:focus {
      border-color: #6665ff;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .box-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.18);
  }

  .navbar {
    background: #fff;
    font-weight: 500;
    .navbar-nav {
      > li {
        > a {
          color: #b2b2b3;
          &.active {
            color: #6665ff;
          }
        }
      }
    }
  }

  .component-container {
    background: #fff;
    padding: 2%;
    margin: 2% auto;
  }
}
